@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family:  "Poppins", sans-serif;
}.flodesk-login {
    text-align: center;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    width: 400px;
    margin: auto;   
}
.flodesk-login img{
    width: 100%;
}
.flodesk-login .heading{
    font-weight: bold;
}
.flodesk-login input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
}
.flodesk-login button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 30px;
    margin: 20px;
    border-radius: 25px;
    cursor: pointer;

}
.bottom-content{
    color: grey;
    font-size: 10px;

}
.bottom-content a{
    color: grey;

}